<app-navbar-adm-usr></app-navbar-adm-usr>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<form>
    <h3 style="text-align: center; margin-top: 20px;">Bienvenido!</h3>
    <h5 style="text-align: center; margin-top: 10px;">Selecciona la forma en la
        que deseas cotizar</h5>
    <div style="width: 50%; margin: 0 auto;">
        <select class="form-select" aria-label="Default select example"
            style="width: 40%; margin: 0 auto; margin-top: 10px;" (change)="onOptionChange($event)">
            <option value selected disabled>Seleccione una opción</option>
            <option value="1">Por sueldo</option>
            <option value="2">Precio de la casa</option>
        </select>
    </div>
</form>

<div *ngIf="selectedOption === '1'" style="width: 50%; margin: 0 auto;">
    <h5 class="textos">Cotización en base a tu sueldo</h5>
    <form>
        <div style="width: 40%; margin: 0 auto;">
            <label for="sueldo">Sueldo:</label>
            <input id="suelInp" type="number" placeholder="$" class="form-control" [(ngModel)]="sueldo" name="sueldo" />
        </div>
        <div style="width: 30%; margin: 0 auto;">
            <label for="banco">Selecciona el Banco:</label>
            <select id="banco" class="form-select" (change)="onBancoSeleccionado($event)">
                <option value selected disabled>Seleccione una opción</option>
                <option *ngFor="let banco of bancos" [value]="banco.nombre">{{ banco.nombre }}</option>
            </select>

            <label for="anio">Selecciona los Años:</label>
            <select class="form-select" [(ngModel)]="anioSeleccionado" name="anioSeleccionado">
                <option *ngFor="let anio of anios" [value]="anio">{{ anio }}</option>
            </select>

            <div *ngIf="interes !== 0 && enganche !== 0">
                <p>Interés: {{ interes }}%</p>
                <p>Enganche: {{ enganche }}%</p>
            </div>

            <button type="button" (click)="calcularPrestamo(anioSeleccionado)">Calcular Préstamo</button>
        </div>
    </form>

    <div *ngIf="resultadoPrestamo !== null && engancheCalculado !== null">
        <p>Monto máximo del préstamo: {{ resultadoPrestamo | currency }}</p>
        <p>Enganche: {{ engancheCalculado | currency }}</p>
    </div>
    <div *ngIf="mensualidad !== null">
        <p>Mensualidad: {{ mensualidad | currency }}</p>
    </div>
    <div *ngIf="montoapagar !== null">
        <p>Monto a Pagar: {{ montoapagar | currency }}</p>
    </div>
    <!-- Botón para guardar los datos del préstamo calculado -->
    <button *ngIf="resultadoPrestamo !== null && engancheCalculado !== null" type="button"
        (click)="guardarPrestamoSueldo()">Guardar</button>
</div>


<!-- Formulario para opción de cotizacion casa -->
<div *ngIf="selectedOption === '2'">
    <h3>Cotización en base valor de la casa</h3>
    <form>
        <div style="width: 40%; margin: 0 auto;">
            <label for="casa">Costo de la casa:</label>
            <input id="costocasa" type="number" placeholder="$" class="form-control" />
        </div>
        <div style="width: 30%; margin: 0 auto;">
            <label for="banco">Selecciona el Banco:</label>
            <select id="banco" class="form-select" (change)="onBancoSeleccionado($event)">
                <option value selected disabled>Seleccione una opción</option>
                <option *ngFor="let banco of bancos" [value]="banco.nombre">{{ banco.nombre }}</option>
            </select>

            <label for="anio">Selecciona los Años:</label>
            <select class="form-select" [(ngModel)]="anioSeleccionado" name="anioSeleccionado">
                <option *ngFor="let anio of anios" [value]="anio">{{ anio }}</option>
            </select>

            <div *ngIf="interes !== 0 && enganche !== 0">
                <p>Interés: {{ interes }}%</p>
                <p>Enganche: {{ enganche }}%</p>
            </div>

            <button type="button" (click)="calcularPrestamoCasa(anioSeleccionado)">Calcular Préstamo</button>
        </div>
    </form>
    <div *ngIf="resultadoPrestamo !== null && engancheCalculado !== null">
        <p>Monto máximo del préstamo: {{ resultadoPrestamo | currency }}</p>
        <p>Enganche: {{ engancheCalculado | currency }}</p>
    </div>
    <div *ngIf="mensualidad !== null">
        <p>Mensualidad: {{ mensualidad | currency }}</p>
    </div>
    <div *ngIf="montoapagar !== null">
        <p>Monto a Pagar: {{ montoapagar | currency }}</p>
    </div>
    <!-- Botón para guardar los datos del préstamo calculado -->
    <button *ngIf="resultadoPrestamo !== null && engancheCalculado !== null" type="button"
        (click)="guardarPrestamoCasa()">Guardar</button>
</div>
<!-- Botón para alternar la visibilidad de las cotizaciones -->
<button (click)="togglePrestamosUsuario()" class="btn btn-primary">
    {{ mostrarPrestamos ? 'Ocultar' : 'Mostrar' }} Mis Cotizaciones
</button>

<!-- Tabla de cotizaciones del usuario actual -->
<div *ngIf="mostrarPrestamos">
    <h4>Mis Cotizaciones</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Banco</th>
                <th>Sueldo/Monto</th>
                <th>Monto del Préstamo</th>
                <th>Enganche</th>
                <th>Interes</th>
                <th>Mensualidad</th>
                <th>Plazo</th>
                <th>Fecha de Creación</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prestamo of prestamosUsuario">
                <td>{{ prestamo.nombre_banco }}</td>
                <td>{{ prestamo.costo_casa_sueldo }}</td>
                <td>{{ prestamo.monto_prestamo | currency }}</td>
                <td>{{ prestamo.enganche | currency }}</td>
                <td>{{ prestamo.interes }}</td>
                <td>{{ prestamo.mensualidad | currency }}</td>
                <td>{{ prestamo.plazo_anios }}</td>
                <td>{{ prestamo.fecha_creacion }}</td>
            </tr>
        </tbody>
    </table>
</div>