<app-navbar></app-navbar>
<div class="home-container">
    <h1 class="home-title">Sistema de Cotización de Préstamos</h1>
    <p class="home-description">
        Este sistema permite a los usuarios obtener cotizaciones rápidas de préstamos, gestionar sus solicitudes y conocer las tasas de interés. El proceso es sencillo y seguro, brindando una experiencia cómoda para calcular el monto y las condiciones de un préstamo personal.
    </p>
    <div class="home-image">
        <img src="money.png" alt="Sistema de Cotización" class="home-img" />
    </div>
</div>
